/*
 *-------------------------------------  
 * PLASMID IDENT    MAIN CONFIGURATION
 *-------------------------------------
 * Default config for all environments
 */

nextflow.enable.dsl = 2


manifest {
    mainScript = 'main.nf'
    author = 'Caspar Groß'
    homePage = 'https://github.com/caspargross/plasmidIdentification'
    description = 'Hybrid assembly pipeline for plasmid analysis'
    name = 'plasmIdent'
  nextflowVersion = '>=22.10.0'
    version = '0.7'
}

// Default parameters
params {
    version = false
    help = false
}

process.container = 'caspargross/plasmident'

  // Include base configuration for all pipelines
  includeConfig 'conf/base.config'

  profiles {   

    conda {
      process.conda = "$baseDir/env/PI_env.yml"
    }

    docker {
      docker.enabled = true
      docker.fixOwnership = true
    }

    singularity {
      singularity.enabled = true
    }

    test {
      includeConfig 'conf/test.config'
    }

    app {
      includeConfig 'conf/app.config'
    }
  }
