/*
 *---------------------------------
 * PLASMID IDENT BASE CONFIGURATION
 *---------------------------------
 * Default config for all environments
 */


params {
    help = false
    version = false
    input = false                   // Required: input file
    outDir = '${PWD}/plasmIDent'    // Path to output directory

    maxLength = 500000              // Maximum contig length for putative plasmid
    minLength = 5000                // Minimal length
    mappingCov = 50                 // Filter read file to reach this target coverage
    seqPadding = 1000               // Alignment overlap length at contig edges
    covWindow = 50                  // Window size for coverage calculation
    noSubsampling = false           // Default: Use subsampling
    
    env  = 'source activate PI_env' // Assume conda is already in path

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h

}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report 
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmIdent_Report.html"
}

process {

  // Check the defaults for all processes
  cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}

