/*
 *-------------------------------------  
 * PLASMIDENT DOCKER CONFIGURATION
 *-------------------------------------
 *  Run with docker container
 */

process {
    container = "caspargross/plasmident:latest"
}

docker {
    enabled = true
    fixOwnership = true
//  runOptions = "-u \$(id -u):\$(id -g)"
}
