/*
 * ----------------------------------------------
 *  Nextflow config file for use with Singularity
 * ----------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
}

process {
    container = 'docker://caspargross/plasmident'
}

params {
  queueSize = 4
  cpu = 4
}
