/*
 *---------------------------------
 * PLASMID IDENT TEST CONFIGURATION
 *---------------------------------
 * Pipeline test run with reduced
 * sample dataset and low specs.
 */

params {
    outDir = 'out_test'
    input = 'data/test_file_list.tsv'
    maxLength = 500000 // Maximum contig length for putative plasmid
    minLength = 1000 // Minimal length
    targetCov = 50 // Filter read file to reach this target coverage
    seqPadding = 1000  // Alignment overlap length at contig edges
    covWindow = 50  // Window size for coverage calculation
    noSubsampling = false // Dont skip subsampling  
    mappingCov = 50
    env  = 'source activate PI_env' // Assume conda is already in path
    max_cpus = 2
    max_memory = 4.GB
    max_time = 48.h

}

// Safe bash settings
process.shell = ['/bin/bash', '-e']


process {

  // Check the defaults for all processes
  cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
}

